{% load staticfiles %}

<html>
<head>
	<title>Django News</title>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL}}css/master.css">
	{% block head %}
	{% endblock head %}
</head>
<body>
		<div id="content">
				<div id="header">
					<div id="site-logo">N</div>
					{% if user.is_authenticated %}
					<div id="user-info">{{user.username}} | <a href="/story/">Submit</a> | <a href="/logout/">Logout</a></div>
					{% else %}
					<div id="user-info"><a href="/login/">Login</a></div>
					{% endif %}
					<div id="site-title"><h1>Django News</h1></div>
				</div>
			
				{% block content %}
				{% endblock content %}
	  </div>
</body>
</html>